
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494006501948'); /* IE9*/
  src: url('iconfont.eot?t=1494006501948#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494006501948') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494006501948') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494006501948#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinxi:before { content: "\e6c9"; }

.icon-xin-1:before { content: "\e604"; }

.icon-icon:before { content: "\e502"; }

