
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493707730871'); /* IE9*/
  src: url('iconfont.eot?t=1493707730871#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493707730871') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493707730871') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493707730871#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhumeng:before { content: "\e61e"; }

